
@{
	ViewData["Title"] = @Html.Raw(ViewBag.Id) + " 的搜索结果";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
	<style>

		table {
			border-left: 1px solid #a2c6d3;
			border-top: 3px solid #0180CF;
			margin: 0 auto;
			font-size: 12px;
			width: 92%;
		}

			table td {
				border-right: 1px solid #a2c6d3;
				border-bottom: 1px solid #a2c6d3;
				padding: 5px;
				word-wrap: break-word;
				word-break: break-all;
			}

		.tt {
			background: #e5f2fa;
			line-height: 18px;
			FONT-SIZE: 12px;
			max-width: 596px;
		}

		.select select {
			width: 100%;
			padding: 5px;
			border: 1px #CACACA solid;
			height: 40px;
			-webkit-appearance: none;
		}

		.select option {
			height: 40px;
		}

		.select {
			margin: 0 auto;
			width: 92%;
			height: 40px;
			overflow: hidden;
		}

		.so_but {
			margin: 15px auto;
			width: 92%;
			text-align: center;
			margin-top: 12px;
			border: 0px;
		}

		.so_bus {
			margin: 15px auto;
			width: 92%;
			text-align: left;
			margin-top: 12px;
			border: 0px;
		}

		.so_but span {
			font-weight: 600;
			color: #0180CF
		}

		.so_but .buts {
			line-height: 200%;
			padding: 5px 25px;
			background: #0180CF;
			border-radius: 25px;
			color: white;
			border: 0px;
		}
	</style>
}
@model Blogs.Web.Models.MccViewModel

<section class="col-lg-12 col-md-12">
	<ul class="breadcrumb">
		<li><a href="/">主页</a></li>
		<li><a href="/mcc">mcc查询</a></li>
		<li>"@Html.Raw(ViewBag.Id)"的搜索结果</li>
	</ul>
	@if (Model.Mccs.Count > 0)
	{
		<h3>MCC码信息</h3>
		@foreach (var item in Model.Mccs)
		{
			@*<div class="table-responsive">*@
			<table class="table">
				<thead>
					<tr>
						<th>MCC码</th>
						<th>@Html.Raw(item.MCC)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>商户类型</td>
						<td>@Html.Raw(item.Description)</td>
					</tr>
					<tr>
						<td>费率</td>
						<td>新：@item.Rate.ToString("0.00")% , 旧：@item.OldRate.ToString("0.00")%</td>
					</tr>
					<tr>
						<td>有/无积分</td>
						<td>@(item.IsPoint ? "有" : "无")</td>
					</tr>
					<tr>
						<td>无积分银行</td>
						<td>@Html.Raw(item.NoPointBankStr)</td>
					</tr>
				</tbody>
			</table>
			@*</div>*@

		}
	}
	@if (Model.Areas.Count > 0)
	{
		<h3>商户地区码信息</h3>

		<table class="table">
			<thead>
				<tr>
					<th>地区码</th>
					<th>地区名称</th>
					<th>省份</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Areas)
				{
					<tr>
						<td>@Html.Raw(item.MerchantAreaCode)</td>
						<td>@Html.Raw(item.MerchantAreaName)</td>
						<td>@Html.Raw(item.MerchantProvince)</td>
					</tr>
				}
			</tbody>
		</table>
	}
	@if (Model.Agency.Count > 0)
	{
		<h3>收单机构信息</h3>

		<table class="table">
			<thead>
				<tr>
					<th>机构编码</th>
					<th>机构名称</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Agency)
				{
					<tr>
						<td>@Html.Raw(item.AgencyCode)</td>
						<td>@Html.Raw(item.AgencyName)</td>
					</tr>
				}
			</tbody>
		</table>
	}
	@if (Model.Licenses.Count > 0)
	{
		<h3>支付牌照信息</h3>

		<table class="table">
			@foreach (var item in Model.Licenses)
			{
				<thead>
					<tr>
						<th>支付许可证编号</th>
						<th>@Html.Raw(item.LicenseID)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>公司名称</td>
						<td>@Html.Raw(item.CompanyName)</td>
					</tr>
					<tr>
						<td>首次发证日期</td>
						<td>@item.StartDate.ToString("yyyy-MM-dd")</td>
					</tr>
					<tr>
						<td>有效期至</td>
						<td>@item.EndDate.ToString("yyyy-MM-dd")</td>
					</tr>
					<tr>
						<td>业务类型</td>
						<td>@Html.Raw(item.BusType)</td>
					</tr>
					<tr>
						<td>业务范围</td>
						<td>@Html.Raw(item.Scope)</td>
					</tr>
				</tbody>
			}

		</table>
	}

	<div class="so_but">
		<input type="button" class="buts" value="返回" name="print" onclick="location.href='/mcc';">
	</div>

	@Html.Partial("_Product")
</section>