@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
	<title>@Html.Raw(ViewData["Title"]) - 很好记POS</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="@Html.Raw(ViewData["MetaDescription"])" />
	<meta name="keywords" content="@Html.Raw(ViewData["MetaKeywords"])" />

	@*<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css?v=1" rel="stylesheet" />*@
	<link href="~/css/style.min.css" asp-append-version="true" rel="stylesheet" />

	@RenderSection("head", false)

</head>
<body>
	<header class="ediblog-header">
		<h1 class="hidden">
			<a href="/">很好记POS</a>
		</h1>
		<div class="nav-container navbar-fixed-top">
			<div class="container">
				<nav class="navbar navbar-ediblog " role="navigation" id="slide-nav">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="animbrand">
							<a class="navbar-brand animate hidden-xs" id="yuabd-logo" href="/">
								很好记POS机官网
							</a>
						</div>
						<a class="navbar-brand logo-mobile visible-xs" href="/">很好记POS机官网</a>
						<a href="/" class="glyphicon glyphicon-home visible-xs pull-right navbar-brand" style="font-size: 26px;"></a>
					</div>

					<div id="slidemenu">
						<form class="navbar-form navbar-right visible-xs" role="form" onsubmit="return searchContent('mobile')" action="/blog/index">
							<div class="form-group">
								<input id="search-mobile" class="form-control" type="text" value="@ViewBag.Keywords" title="输入你想搜索的内容" placeholder="输入你想搜索的内容" name="keywords" maxlength="30">
							</div>
							<button class="btn btn-success searchBtn" type="submit"><i class="fa fa-search"></i> 搜索</button>
						</form>
						<form action="/blog/index" class="navbar-form navbar-right hidden-xs" method="get" onsubmit="return searchContent('pc')" role="search">
							<div class="form-group disp-flex">
								<input class="form-control" id="search" maxlength="30" name="keywords" placeholder="输入你想搜索的内容" title="输入你想搜索的内容" type="text" value="@ViewBag.Keywords" />

								<button type="submit" class="btn-search searchBtn">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</div>
						</form>
						<ul class="nav navbar-nav">
							<li>
								<a href="/">首页</a>
							</li>
							<li>
								<a href="/mcc">MCC查询工具</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle animate" data-toggle="dropdown">
									<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
									帮助中心
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu category-menu" id="categories">
									<li><a href="/blog/index">所有文档</a></li>
								</ul>
							</li>
							<li>
								<a href="#" data-toggle="modal" data-target="#wechatmodal">快速预约</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<div id="page-cover" class="visible-xs">
	</div>
	<div id="page-content" class="content">
		<section class="mobile-aboutme visible-xs">
			<section class="blog-info-phone visible-xs">
				<div class="card-bkimg-container">
					<img class="card-bkimg" alt="" data-original="/images/wechat.jpg?v=1">
				</div>
				<div class="media">
					<a class="pull-left" href="#" data-toggle="modal" data-target="#wechatmodal">
						<img data-original="/images/wechat.jpg?v=1" alt="Yuabd" class="media-object img-circle blogger-head-pic">
					</a>
					<div class="media-body">
						<p>
							8平台+10固定商户7210、大POS机0.55起，花呗0.38
						</p>
						<div class="btn-group btn-group-justified">
							<a href="#" onclick="trackOutboundLink('咨询', 'mobile打开')" data-toggle="modal" data-target="#wechatmodal" class="btn btn-success">
								<i class="fa fa-envelope"></i>
								点击免费领取
							</a>
						</div>
					</div>
				</div>
			</section>
		</section>
		<div class="container">
			<div class="row">
				@RenderBody()
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<h4 class="d-none d-sm-block">
						免费申请
					</h4>
					<p>
						POS机免费送，0.38%费率期，有积分稳定不跳码。全国自选行业，365天刷卡秒到账，当天发货送货上门。
					</p>
				</div>

				<div class="col-md-3 col-sm-3 d-none d-sm-block">
					<h4>加盟我们</h4>
					<p>
						一台起做代理，分润日结，无需压机器，交易量越大，分润越高。拿机器量大才能跟支付公司谈更好的政策，为缓解库存压力和扩大业绩，
						我们欢迎想要从事POS机行业的朋友加入我们的队伍，我们提供最好的招商政策，一起成长。
					</p>
				</div>

				<div class="col-md-3 col-sm-3">
					<h4 class="d-none d-sm-block">加微信免费领POS机</h4>
					<div class="qrcode-link">
						<img data-original="/images/wechat.jpg?v=1" style="width: 150px;" />
						<p style="color: white;">微信号：ozqiaomami</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-3 d-none d-sm-block">
					<h4>友情链接</h4>

					<ul class="list-unstyled">
						@if (ViewBag.Links != null)
						{
							@foreach (var item in ViewBag.Links)
							{
								<a href="@item.LinkUrl" target="_blank">@Html.Raw(item.Name)</a>
							}
						}
						<li><a href="/sitemap">sitemap</a></li>
					</ul>
				</div>

			</div>
		</div>
	</footer>
	@*@Scripts.Render("~/bundles/jquery")*@

	<div class="modal fade" id="wechatmodal" tabindex="-1" role="dialog" aria-labelledby="qrmodalLabel-wechat" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="qrmodalLabel-wechat">扫码免费领POS机</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<img src="~/images/wechat.jpg?v=1" style="width:100%;" class="m-auto img-fluid" />
					<p>微信号：ozqiaomami</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145345348-1"></script>
	<environment names="Development">
		<script src="~/js/jquery-3.1.1.js"></script>
		<script src="~/js/bootstrap.min.js"></script>
		<script src="~/js/bootstrap.ediblog.slidemenu.min.js"></script>
		<script src="~/js/jquery.lazyload.min.js"></script>
		<script src="~/js/henhaoji.app.js"></script>
	</environment>
	<environment names="Production">
		<script src="~/js/henhaoji.app.min.js" asp-append-version="true"></script>
	</environment>
	@RenderSection("scripts", false)



</body>
</html>


