@model Blogs.Web.Models.BlogsViewModel
@{
	ViewData["Title"] = ViewBag.PageTitle;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="col-lg-9 col-md-12">
	<h3 class="h3-cat-list">
		<span>
			所有文章
		</span>
		<span class="badge hidden-xs">@ViewBag.Count</span>
		<span class="badge visible-xs pull-right">@ViewBag.Count</span>
	</h3>
	<hr />

	<ul class="breadcrumb">
		<li><a href="/">主页</a></li>
		@if (ViewBag.Type == "index")
		{
			<li>pos文档中心</li>
		}
		else if (ViewBag.Type == "search")
		{
			<li>"@(Html.Raw(ViewBag.Keywords))"的搜索结果</li>
		}
		else if (ViewBag.Type == "category")
		{
			<li>@Html.Raw(ViewBag.Category.CategoryName)</li>
		}
		else if (ViewBag.Type == "Tag")
		{
			<li>标签：@Html.Raw(ViewBag.Tag)</li>
		}
	</ul>

	@foreach (var item in Model.Blogs)
	{
		<article class="article-post-summary">
			<div class="post-date-box hidden-xs">
				<h1 class="post-date-day">@item.DateCreated.Day</h1>
				<div class="post-date-month">
					@item.DateCreated.Month
				</div>
			</div>
			<div class="post-summary-box">
				<time datetime="@item.DateCreated" class="none">@item.DateCreated</time>

				<h4 class="post-summary-title">
					<a href="/blog/post/@(item.BlogID)" title="@Html.Raw(item.BlogTitle)">@Html.Raw(item.BlogTitle)</a>
				</h4>

				<p class="post-summary-text">
					@Html.Raw(item.MetaDescription)
				</p>

				@*@if (!string.IsNullOrWhiteSpace(item.MetaKeywords))
					{
						<div class="post-summary-tags">
							@foreach (var tag in item.MetaKeywords.Split(',', StringSplitOptions.RemoveEmptyEntries))
							{
								<a href="/blog/tags/@(Html.Raw(tag))" title="@Html.Raw(tag)" class="post-summary-tag">@Html.Raw(tag)</a>
							}
						</div>
					}*@
				<div class="post-summary-tags">
					@foreach (var tag in item.BlogTags)
					{
						<a href="/blog/tags/@(Html.Raw(tag.Tag))" title="@Html.Raw(tag.Tag)" class="post-summary-tag">@Html.Raw(tag.Tag)</a>
					}
				</div>
			</div>
		</article>
		<div class="bor hidden-xs"></div>
		<hr class="hidden-xs">
	}

	<div class="pull-right">
		<div>
			@Model.Blogs.Pager("pager")
		</div>
	</div>
</section>


<!-- 侧边栏 -->
@Html.Partial("~/Views/Shared/_BlogSidebar.cshtml", Model.PopularTags)
