@model Blogs.Web.Models.BlogViewModel
@{
	ViewBag.Title = Model.Blog.BlogTitle;
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.MetaKeywords = Model.Blog.MetaKeywords;
	ViewBag.MetaDescription = Model.Blog.MetaDescription;
}

<section class="col-lg-9 col-md-12">
	<article>
		<header class="post-header">
			<h3 class="post-title">
				@Html.Raw(Model.Blog.BlogTitle)
			</h3>
			<hr class="hidden-xs post-header-hr">
			<div class="visible-xs">
				<div class="post-publish-info">
					<time datetime="@Model.Blog.DateCreated">@Model.Blog.DateCreated</time>
				</div>
			</div>

			<div class="hidden-xs post-publish-info">
				<span>
					<time datetime="@Model.Blog.DateCreated">@Model.Blog.DateCreated</time>

				</span>
				<span class="badge pull-right">@Model.Blog.PageVisits Reads</span>
			</div>

			<div class="hidden-print">
				<section class="post-cat-tag-info">
					<div class="button pull-right hidden-xs">
						<span class="toptags-list toptags-list-sm">
							@foreach (var item in Model.Blog.BlogTags)
							{
								<a href="/blog/tags/@(Html.Raw(item.Tag))" rel="0">@Html.Raw(item.Tag)</a>
							}
						</span>
					</div>
					<ul class="breadcrumb">
						<li><a href="/">主页</a></li>
						<li><a href="/blog/category/@Model.Blog.BlogCategory.CategoryID">@Html.Raw(Model.Blog.BlogCategory.CategoryName)</a></li>
						<li>正文</li>
					</ul>
				</section>
			</div>
			<hr class="post-header-hr mt0">
		</header>
		<section class="post-content clearfix">
			@Html.Raw(Model.Blog.BlogContent)
		</section>
		<div class="post-slug-actions clearfix">
			<div class="pull-right">
				<button class="btn icon-btn btn-success btn-ratings"
						data-postid="@Model.Blog.BlogID" data-islike="true">
					<span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-success"></span>
					赞 (<span class="likehits-num">@Model.Blog.Like</span>)
				</button>
			</div>
			<span class="text-muted none ratemessage">感谢点赞！</span>
		</div>
		<div class="bor visible-xs"></div>
	</article>
	<div class="hidden-print">
		<hr>
		<div class="row">
			<div class="col-md-6">
				<strong>
					上一篇
				</strong>
				<div>
					@if (Model.PreNextBlog.PreBlog != null)
					{
						<a href="/blog/post/@(Model.PreNextBlog.PreBlog.ID)"
						   title="@Html.Raw(Model.PreNextBlog.PreBlog.Title)">@Html.Raw(Model.PreNextBlog.PreBlog.Title)</a>
					}
					else
					{
						<a href="#" title="上一篇">没有上一篇了</a>
					}
				</div>
			</div>

			<div class="col-md-6">
				<strong>
					下一篇
				</strong>
				<div>
					@if (Model.PreNextBlog.NextBlog != null)
					{
						<a href="/blog/post/@(Model.PreNextBlog.NextBlog.ID)"
						   title="@Html.Raw(Model.PreNextBlog.NextBlog.Title)">@Html.Raw(Model.PreNextBlog.NextBlog.Title)</a>
					}
					else
					{
						<a href="#" title="下一篇">没有下一篇了</a>
					}
				</div>
			</div>
		</div>

		<div class="bor"></div>
	</div>
	@if (ViewBag.Hots != null)
	{
		<div class="col-xs-12 visible-xs">
			<hr>
			<h3 class="h3-cat-list">
				<span>
					热门文章
				</span>
				<span class="pull-right"><a href="/blog/index">查看更多</a></span>
			</h3>
			<hr />
			<div class="list-group">
				@foreach (var item in ViewBag.Hots)
				{
					<a href="#" class="list-group-item" title="@item.BlogTitle">
						<h4 class="list-group-item-heading">@item.BlogTitle</h4>
					</a>
				}
			</div>
		</div>
	}
</section>

@Html.Partial("~/Views/Shared/_BlogSidebar.cshtml", Model.PopularTags)

<div class="bor"></div>
@Html.Partial("_Product")