<h2>博客分类</h2>
<div class="sidebar-box">
    <ul class="bottom-list">
        @foreach (var item in Model.Categories)
        {
            <li><a href="/Blog/Categories/@(item.Slug).html" title="@item.CategoryName">@item.CategoryName</a></li>
        }
    </ul>
</div>
<div class="sidebar-box-footer"></div>

<h2>热门话题</h2>
<div class="sidebar-box">
    <ul class="bottom-list">
        @foreach (var item in Model.PopularTags)
        {
            <li><a href="/Blog/Tags/@(item.Tag).html" title="@item.Tag">@item.Tag<span>(</span>@item.Num<span>)</span></a></li>
        }
    </ul>
</div>
<div class="sidebar-box-footer"></div>

<h2>Archive</h2>
<div class="sidebar-box">
    <ul class="bottom-list">
        @foreach (var item in Model.Archives)
        {
            if (item.Month != null)
            {
                <li><a href="/Blog/Archives/@(item.Year).html/?month=@item.Month">@item.Month (@item.Count)</a></li>  }
            else
            {
                <li><a href="/Blog/Archives/@(item.Year).html">@item.Year (@item.Count)</a></li>  }
        }
    </ul>
</div>
<div class="sidebar-box-footer"></div>

<h2>最近文章</h2>
<div class="sidebar-box">
    <ul class="bottom-list">
        @foreach (var item in new Studio.Services.BlogService().GetBlogs().Take(8).ToList())
        {
            <li><a href="/Blog/Post/@(item.Slug).html" title="@item.BlogTitle">@item.BlogTitle</a></li>
        }
    </ul>
</div>
<div class="sidebar-box-footer"></div>

<h2>近期评论</h2>
<div class="sidebar-box">
    <ul class="bottom-list">
        @foreach (var item in Studio.Helpers.ListHelper.GetBlogComments().Take(6))
            {
            <li>@item.Name 在<a href="/Blog/Post/@(Studio.Helpers.LabelHelper.GetBlog(item.BlogID).Slug).html" title="@Studio.Helpers.LabelHelper.GetBlog(item.BlogID).BlogTitle">@Studio.Helpers.LabelHelper.GetBlog(item.BlogID).BlogTitle</a>的评论</li>
        }
    </ul>
</div>
<div class="sidebar-box-footer"></div>