@model List<Blogs.Model.DbModels.Blog>
@{
	ViewData["Title"] = "很好记POS机官网-华智融7210多平台-POS机申请-免费POS机领取";
	ViewData["MetaDescription"] = "很好记POS机官网，华智融7210多平台，正规POS机全国办理中心，提供0.38费率秒到一清机，支持微信、支付宝、云闪付，提供现代金控金正宝、畅捷、点佰趣、付临门、乐刷、海科、瑞银信、星驿付、中付9平台多平台pos机、传统pos机、手机POS机申请、安装等服务。";
	ViewData["MetaKeywords"] = "华智融7210多平台|银联POS机|手机POS机|星驿付POS机|POS机申请|瑞银信POS机|金正宝POS机|POS机申请|POS机招商|POS机代理|免费传统大POS机|7210|畅捷通POS机|海科pos机|点佰趣POS机";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Product")

<section class="col-lg-12 col-md-12">
	<h3 class="h3-cat-list">
		<span>
			最新文章
		</span>
		<span class="pull-right"><a href="/blog/index">查看更多</a></span>
	</h3>
	<hr />
	@foreach (var item in Model)
	{
		<article class="article-post-summary">
			<div class="post-date-box hidden-xs">
				<h1 class="post-date-day">@item.DateCreated.Day</h1>
				<div class="post-date-month">
					@item.DateCreated.Month
				</div>
			</div>
			<div class="post-summary-box">
				<time datetime="@item.DateCreated" class="none">@item.DateCreated</time>

				<h4 class="post-summary-title">
					<a href="/blog/post/@(item.Slug)" title="@Html.Raw(item.BlogTitle)">@Html.Raw(item.BlogTitle)</a>
				</h4>

				<p class="post-summary-text">
					@Html.Raw(item.MetaDescription)
				</p>

				@*@if (!string.IsNullOrWhiteSpace(item.MetaKeywords))
					{
						<div class="post-summary-tags">
							@foreach (var tag in item.MetaKeywords.Split(',', StringSplitOptions.RemoveEmptyEntries))
							{
								<a href="/blog/tags/@(Html.Raw(tag))" class="post-summary-tag">@Html.Raw(tag)</a>
							}
						</div>
					}*@
				<div class="post-summary-tags">
					@foreach (var tag in item.BlogTags)
					{
						<a href="/blog/tags/@(Html.Raw(tag.Tag))" title="@Html.Raw(tag.Tag)" class="post-summary-tag">@Html.Raw(tag.Tag)</a>
					}
				</div>
			</div>
		</article>
		<div class="bor hidden-xs"></div>
		<hr class="hidden-xs">
	}
</section>


<h2 style="text-align:center;"> 加盟与代理 <small>代理一台起，分润日结,加微信了解详情。</small></h2>


