@model Blogs.Web.Models.Paginated<Blogs.Model.DbModels.POS_MCC>
@{
	ViewData["Title"] = "MCC/商户/银行等";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>MCC管理</h2>

<p>
	<a href="/Admin/Pos/Mcc_Add" id="add" class="button-add">添加</a>
</p>
<form action="/Admin/Pos/Mcc">
	@Html.AntiForgeryToken()
	<fieldset>
		<legend>查询</legend>
		mcc:<input type="text" name="keywords" value="@ViewBag.keywords" />
		<button>查询</button>
	</fieldset>
</form>
<table class="grid">
	<tr>
		<th>
			#
		</th>
		<th>商户类型</th>
		<th>
			有/无积分
		</th>
		<th>
			费率%
		</th>
		<th>
			费改前费率%（参考）
		</th>
		<th>
			查询次数
		</th>
		<th>
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@item.MCC
			</td>
			<td>
				@item.Description
			</td>
			<td>
				@(item.IsPoint ? "有":"无")
			</td>
			<td>
				@item.Rate.ToString("0.000")
			</td>
			<td>
				@item.OldRate.ToString("0.000")
			</td>
			<td>
				@item.VisitCount
			</td>
			<td class="actions">
				<a href="/Admin/Pos/Mcc_Edit/@item.MCC" class="button-edit">编辑</a>
				<a href="/Admin/Pos/Mcc_Delete/@(item.MCC)?page=@Model.PageIndex" class="button-delete delete">删除</a>
			</td>
		</tr>
	}

</table>
@Model.Pager("pager")
