@{
    ViewBag.Title = "巨易高端网站建设";
    ViewBag.MetaKeywords = "厦门网站建设,厦门网站设计,厦门网站制作,厦门网站建设公司,厦门网站优化,厦门网页设计,网站建设";
    ViewBag.MetaDescription = "巨易网络科技有限公司，为各领域的高端品牌提供出色、高效的网站建设服务，提供厦门网站建设,厦门网站设计,厦门网站制作,厦门网站优化是厦门网站建设公司的首选品牌。";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@section head{
    <link rel="stylesheet" href="/assets/fraction/fractionslider.css?v1.0.1" type="text/css" />
    <link href="/App_Themes/Site/Style.css?v1.0.1" rel="stylesheet" type="text/css" />
}
@section scripts{
    @*<script src="/assets/fraction/jquery.fractionslider.min.js"></script>
	<script src="/assets/fraction/jquery.fractionslider.init.js"></script>*@
    <script>
        //Carousels
        $('.carousel').carousel({
            interval: 5000,
            pause: 'hover'
        });
        var i = 0; var paddingForMobile = 0;
        var showResponsiveRunning = 0;
        function showResponsive() {
            if (showResponsiveRunning == 0) {
                jQuery('.responsive-iphone').css('left', 0).css('opacity', 1);
                showResponsiveRunning = 1;
            }
        }

        function init() {
            var responsiveSection = jQuery('.responsive-section').offset();

            if (window.mobile) paddingForMobile = 500;

            if (jQuery(document).scrollTop() >= responsiveSection.top - jQuery(window).height() + 300 - paddingForMobile) {
                showResponsive();
            } else {

            }
        }

        $(function () {
            jQuery('.mobile-list li div').click(function () {
                if (jQuery(this).hasClass('selected')) {
                    jQuery('.mobile-list li div').not('selected').addClass('selected');
                    jQuery(this).removeClass('selected');

                    if (jQuery('.responsive-ipad').is(':visible')) {
                        jQuery('.responsive-iphone').show().animate({ left: 0, opacity: 1 }, { duration: 0 });
                        jQuery('.responsive-ipad').removeAttr('style').hide();
                    } else if (jQuery('.responsive-iphone').is(':visible')) {
                        jQuery('.responsive-ipad').show().animate({ left: 0, opacity: 1 }, { duration: 0 });
                        jQuery('.responsive-iphone').removeAttr('style').hide();
                    }
                }
            });
            init();

            jQuery('#responsive-iphone').stop().animate({ svgTransform: "translate(-52,12)" }, { duration: 500, easing: "easeInOutQuad" });
        });
    </script>
}
<section id="homepageCarousel" class="carousel carousel-1 slide color-two-l hidden-xs"
    data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators hide">
        <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item item-light active" style="background-image: url(/images/carousel/slider1.jpg);">
            <div class="container">
            </div>
        </div>
        <div class="item item-drak" style="background-image: url(/images/carousel/carousel-img-5.png);">
            <div class="container">
                <div class="description fluid-center">
                    <span class="title">巨易-多终端响应式创新者</span>
                    <span class="subtitle">根据客户需求有针对性设计传播策略,用设计推动产品的推广,帮助客户实现价值.</span>
                    <ul class="list-carousel">
                        <li><i class="fa fa-check-square"></i>适应PC电脑/PAD/手机</li>
                        <li><i class="fa fa-check-square"></i>移动互联网解决方案</li>
                        <li><i class="fa fa-check-square"></i>多终端解决方案</li>
                        <li><i class="fa fa-check-square"></i>品牌互动创新与整合设计</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="item item-light" style="background-image: url(/images/carousel/slider.jpg);">
            <div class="container">
            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control" href="#homepageCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>

</section>

<section class="slice color-two-d">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon-feature">
                                    <i class="fa fa-coffee"></i>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4>品牌网站建设</h4>
                                <p>
                                    高端品牌网站创意设计,厦门手机网站建设,厦门企业网站设计开发,HTML5网站标准重构
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon-feature">
                                    <i class="fa fa-code"></i>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4>成熟的开发团队</h4>
                                <p>
                                    我们汇集了资深的技术开发工程师团队,拥有行业过硬的技术, .NET, DIV+CSS, HTML5, Javascript,企业网站系统,
									购物网站系统,论坛系统,门户网站系统
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon-feature">
                                    <i class="fa fa-laptop"></i>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4>响应式多终端解决方案</h4>
                                <p>
                                    一个网站,适应PC、平板、手机，用专业的技术，做专业的服务，节省企业建站与维护成本，提高用户体验。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="aside-feature">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon-feature">
                                    <i class="fa fa-picture-o"></i>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4>成品网站及托管</h4>
                                <p>
                                    成品网站建设系统是一种全新的互联网应用模式,花费时间短,且风险小,为企业提供高品质的网站托管服务。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section-title color-one">
        <h3>互联网解决方案</h3>
        <div class="indicator-down color-one"></div>
    </div>

</section>
<section class="slice animate-hover-slide">
    <div class="w-section inverse">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="w-box">
                        <figure>
                            <img alt="网站托管" data-original="/images/emarketing.jpg" class="img-responsive lazy" />
                            <figcaption class="color-one">
                                <a href="http://bm.henhaoji.com.cn" target="_blank" title="企业网站托管" class="btn btn-xs btn-two">详情</a>
                                <a href="http://bm.henhaoji.com.cn" target="_blank" title="网站托管" class="btn btn-xs btn-one theater"><i class="fa fa-camera"></i>浏览</a>
                            </figcaption>
                        </figure>
                        <h2><a href="http://bm.henhaoji.com.cn" title="网站托管" target="_blank">网站保姆/网站管家</a></h2>
                        <p>
                            致力于为企业提供高品质的企业网站托管服务。专业网站托管公司，为贵企业打造专业的网站托管优化方案，让网站不再是花瓶，带来更多订单。
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="w-box">
                        <figure>
                            <img alt="成品网站建设" data-original="/content/images/wk-img-1.jpg" class="img-responsive lazy">
                            <figcaption class="color-one">
                                <a href="http://muban.henhaoji.com.cn" target="_blank" title="成品网站" class="btn btn-xs btn-two">详情</a>
                                <a href="http://muban.henhaoji.com.cn" target="_blank" title="速成网站" class="btn btn-xs btn-one theater"><i class="fa fa-camera"></i>浏览</a>
                            </figcaption>
                        </figure>
                        <h2><a href="http://muban.henhaoji.com.cn" title="成品网站建设" target="_blank">成品网站建设</a></h2>
                        <p>
                            成品网站建设系统是一种全新的互联网应用模式，它一改过去传统的企业建站方式，不需企业编写任何程序或网页，无需学习任何相关语言，即可轻松完成企业个性化的精美网站。
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="w-box">
                        <figure>
                            <img alt="网站建设" data-original="/images/prv/col-img-4.jpg" class="img-responsive lazy" />
                            <figcaption class="color-one">
                                <a href="/" title="详情" class="btn btn-xs btn-two">详情</a>
                                <a href="/images/prv/col-img-4.jpg" title="中高端网站建设" class="btn btn-xs btn-one theater"><i class="fa fa-camera"></i>浏览</a>
                            </figcaption>
                        </figure>
                        <h2><a href="http://www.henhaoji.com.cn" title="品牌网站建设">品牌网站建设</a></h2>
                        <p>
                            经过多年的WEB体系研究,具备成熟的网站整体解决方案，360度网络品牌策略， 分析互联网现状，定位互联网规划目标，为不同客户创造适合自己的互联网形象。
                        </p>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="w-box">
                        <figure>
                            <img alt="网站空间、网站域名" data-original="/images/prv/col-img-3.jpg" class="img-responsive lazy" />
                            <figcaption class="color-one">
                                @*<a href="/company/hostting.html" title="网站空间购买" class="btn btn-xs btn-two">详情</a>*@
                                <a href="/images/prv/col-img-3.jpg" title="如何注册网站域名" class="btn btn-xs btn-one theater"><i class="fa fa-camera"></i>浏览</a>
                            </figcaption>
                        </figure>
                        <h2>@*<a href="/company/hostting.html" title="网站空间租用">网站域名注册/网站空间租用</a>*@</h2>
                        <p>
                            @*各类虚拟主机租用、服务器租用、企业电子邮局、域名注册等服务,与多家IDC有良好的合作关系，一直致力于中国互联网络应用的普及与发展，先后为国内外知名的大型企业和权威机构提供网络应用服务，并赢得了良好的口碑和可观的业绩。*@
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section-title color-one">
        <h3>响应式框架</h3>
        <div class="indicator-down color-one"></div>
    </div>
</section>
<section id="companyCarousel" class="carousel carousel-2 slide color-three" data-ride="carousel">
    <!-- Indicators -->
    @*<ol class="carousel-indicators color-two-l">
    	<li data-target="#companyCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#companyCarousel" data-slide-to="1" class=""></li>
    </ol>*@

    <div class="carousel-inner">
        <div class="item active responsive-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2>响应式设计</h2>
                        <p>
                            本网站采用了Html5 + CSS3, 响应式网站设计, 能在PC电脑、平板电脑、移动终端中自动适应，完美得提供了移动端解决方案。
                        </p>
                        <p style="margin-bottom: 80px;">
                            厦门巨易网络科技有限公司成立于2013年,巨易的前身是厦门锤子网站建设工作室,巨易科技致力于品牌网站建设,网络推广,网站一站式托管,网站优化维护,空间域名,平面设计等. 2014年巨易为了解决多终端的问题,我们推出了响应式网站设计,网站能适应在不同分辨率的不同设备,如PC电脑、平板电脑、移动手机等不同的终端展现出不同的效果,此属厦门首家. 凭借在网站建设领域丰富的经验,与各地合作伙伴联手,为客户提供了专业的服务.
                        </p>
                        <ul class="mobile-list hidden-xs">
                            <li>
                                <div class="mobile"><span>&nbsp;</span>移动设备</div>
                            </li>
                            <li>
                                <div class="tablet selected"><span>&nbsp;</span>平板设备</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 hidden-xs">
                        <span class="responsive-iphone" style="opacity: 1; left: 0px; display: block;">
                            <img data-original="../../App_Themes/Site/images/iphone-screen.gif" alt="厦门网站建设手机端效果" width="314px" class="lazy" height="549px" />
                        </span>
                        <span class="responsive-ipad" style="display: none;">
                            <img data-original="../../App_Themes/Site/images/ipad-screen.gif" width="442px" height="592px" class="lazy" alt="厦门网站建设iPad效果" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 40px;"></div>

    <div class="section-title color-two-d">
        <h3>最近案例</h3>
        <div class="indicator-down color-two-d"></div>
    </div>

</section>
<section class="slice animate-hover-slide color-two-l">
    <div class="w-section inverse">
        <div class="container">
            <div id="carouselWork" class="carousel-3 slide animate-hover-slide">
                <div class="carousel-nav">
                    <a data-slide="prev" class="left color-two" href="#carouselWork"><i class="fa fa-angle-left"></i></a>
                    <a data-slide="next" class="right color-two" href="#carouselWork"><i class="fa fa-angle-right"></i></a>
                </div>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            @foreach (var item in new Studio.Services.SiteHelp().GetCases().Take(4).ToList())
                            {
                                <div class="col-md-3">
                                    <figure>
                                        <img alt="@item.Name" data-original="@item.PictureFolder/@item.PictureThumbnail" class="img-responsive lazy" />
                                        <figcaption class="color-two-t">
                                            <a href="/Company/CaseDetail/@(item.CaseID).html" title="@item.Name" class="btn btn-lg btn-one theater"><i class="fa fa-search-plus"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            @foreach (var item in new Studio.Services.SiteHelp().GetCases().Skip(4).Take(4).ToList())
                            {
                                <div class="col-md-3">
                                    <figure>
                                        <img alt="@item.Name" data-original="@item.PictureFolder/@item.PictureThumbnail" class="img-responsive lazy" />
                                        <figcaption class="color-two-t">
                                            <a href="/Company/CaseDetail/@(item.CaseID).html" title="@item.Name" class="btn btn-lg btn-one theater"><i class="fa fa-search-plus"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="slice padding-15 banner-1">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-7">
                <div class="head-title has-controls">
                    <h3>我们的客户
                    </h3>
                    <!-- Carousel controls -->
                    <div class="carousel-top-controls">
                        <a data-slide="prev" href="#carouselClients"><i class="fa fa-angle-left"></i></a>
                        <a data-slide="next" href="#carouselClients"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div id="carouselClients" class="carousel slide carousel-clients">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                                    <div class="item-inner">
                                        <a href="#">
                                            <img alt="仙平美体" class="lazy" data-original="/images/clients/xianping.jpg" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                                    <div class="item-inner">
                                        <a href="#">
                                            <img alt="厦门市公安局" class="lazy" data-original="/images/clients/xmga.jpg" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                                    <div class="item-inner">
                                        <a href="#" title="厦门城市职业学院">
                                            <img alt="厦门城市职业学院" class="lazy" data-original="/images/clients/xmcu.jpg" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                                    <div class="item-inner">
                                        <a href="#">
                                            <img alt="北京摄影协会" class="lazy" data-original="/images/clients/syxh.jpg" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TESTIMONIALS -->
            <div class="col-md-5">
                <div class="head-title">
                    <h3>友情链接</h3>
                </div>
                <div id="carouselTestimonials" class="carousel carousel-testimonials">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="testimonial-entry">
                                        <p>
                                            @foreach (var item in ViewBag.Links)
                                            {
                                                <a href="@item.LinkUrl" target="_blank">@item.Name</a>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
