@model Studio.Models.Case

	<script type="text/javascript">
		$(function () {
			$("#DateCreated").datepicker();
		});
	</script>
<div class="section">
	<div class="section-header">
		<h3>公司名称</h3>
	</div>
	<div class="section-body">
		<div class="row">
			@Html.TextBoxFor(m => m.Name, new { @class = "title"})<cite>*</cite>
			@Html.ValidationMessageFor(m => m.Name)
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>图片</h3>
	</div>
	<div class="section-body">
		<div class="row">
			<input type="file" name="file" />
		</div>
		<div class="row">
			<label>当前图片：</label>
			<img src="@Model.PictureFolder/@Model.PictureFile" alt="@Model.Name" />
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>公司介绍</h3>
	</div>
	<div class="section-body">
		<div class="row">
			<label>简短介绍(一句话)</label>
			@Html.TextAreaFor(m => m.ShortDescription, new { @rows = 10, style = "width: 100%" })
			@Html.ValidationMessageFor(m => m.ShortDescription)
		</div>
		<div class="row">
			<label>详细介绍</label>
			@Html.TextAreaFor(m => m.Description, new { @rows = 20, style = "width: 100%" })
			@Html.ValidationMessageFor(m => m.Description)
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>信息</h3>
	</div>
	<div class="section-body">
		<div class="row">
			<label>分类：</label>
			@Html.DropDownListFor(m => m.CategoryID, Studio.Helpers.ListHelper.GetCaseList(), "选择分类")<cite>*</cite>
			@Html.ValidationMessageFor(m => m.CategoryID)
		</div>
		<div class="row">
			<label>网址：</label>
			@Html.TextBoxFor(m => m.Website, new { @class = "large"})<cite>*</cite>
			@Html.ValidationMessageFor(m => m.Website)
		</div>
		<div class="row">
			<label>时间：</label>
			@Html.TextBoxFor(m => m.DateCreated)<cite>*</cite>
			@Html.ValidationMessageFor(m => m.DateCreated)
		</div>
	</div>
</div>