@model Studio.Models.Others.Paginated<Studio.Models.Case>
@{
    ViewBag.Title = "案例管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>成功案例</h2>
<p>
	<a href="/admin/case/add" class="button-add">增加</a>
</p>
<table class="grid">
	<tr>
		<th>#</th>
		<th>图片</th>
		<th>公司名称</th>
		<th>简介(Short)</th>
		<th>网址</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
 {
	 <tr>
		<td>@item.CaseID</td>
		<td><img src="@item.PictureFolder/@item.PictureFile" alt="@item.Name" style="width: 120px;" /></td>
		<td>@item.Name</td>
		<td>@item.ShortDescription</td>
		<td><a href="@item.Website" target="_blank">@item.Website</a></td>
		<td><a href="/admin/case/edit/@item.CaseID" class="button-edit">编辑</a> <a href="/admin/case/delete/@item.CaseID" class="button-delete delete">删除</a></td>
	 </tr>
 }
</table>
@Model.Pager("pager")